<div class="track" data-track="<%= track.id %>">
    <% if track.source == 'youtube' %>
        <a href="#" class="play-track" data-id="<%= track.track_id %>" data-index="<%= index %>">
            <h3 style="pointer-events: none"><%= track.title %></h3>
            <%= link_to "Search related", playlists_path(track: track.track_id) %>

            <% if current_user && current_user.id === user.id %>
                <svg class="track-move" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path style="point-events: none" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            <% end %>
        </a>
    <% else %>
        <audio class="play-track" preload="none" id="player-1" onloadedmetadata="mDur('1')" ontimeupdate="mPlay('1')" data-title="spiritual paralysis">
            <source src="https://feeds.soundcloud.com/stream/1830873042-generalexpletive-spiritual-paralysis.mp3" type="audio/mpeg">
        </audio>
    <% end %>
</div>