<%= turbo_frame_tag "app" do %>
    <section class="playlist">
        <div class="site-container">
            <h1>Adding track to: <%= @playlist.title %></h1>

            <%= form_with url: add_track_path, method: :get, local: true do %>
                <%= label_tag :search, "Search for:" %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search" %>
            <% end %>

            <% if @results.present? %>
                <h2>Results:</h2>
                <div class="card-container horizontal emerge">
                    <% @results.each do |video| %>
                        <% if video['id']['kind'] == 'youtube#video' %>
                            <div class="card">
                                <% title = video['snippet']['title'] %>
                                <% image = video['snippet']['thumbnails']['high']['url'] %>
                                <% @id = video['id']['videoId'] %>
                                <% if image.present? %>
                                    <%= image_tag image, alt: "Image for #{video['snippet']['title']}", class: "card-image"  %>
                                <% end %>
                                <div class="copy-area">
                                    <h3 class="card-title"><%= title %></h3>
                                    <p class="card-copy"><%= video['snippet']['description'] %></p>
                                    <%= link_to "Watch", "https://www.youtube.com/watch?v=#{video['id']['videoId']}", class: "card-link", target: "_blank" %>
                                    <%= button_to "Add", add_track_path, params: {track_id: @id, track_title: title}, method: :put %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <% if @next || @prev %>
                    <div class="page-controls">
                        <% if @prev %>
                            <%= link_to "Previous", add_track_path(@playlist, query: @query, page_token: @prev), target: "_top" %>
                        <% end %>
                        <% if @next %>
                            <%= link_to "Next", add_track_path(@playlist, query: @query, page_token: @next), target: "_top" %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </section>
<% end %>