<%= turbo_frame_tag 'app' do %>
    <section>
        <div class="site-container">
            <h1>Notifications</h1>
            <% if @notifications.present? %>
                <% @notifications.each do |n| %>
                    <%= button_to 'Mark as read', read_notification_path(n.id), method: :post %>
                    <%= render "preview", notification: n  %>
                    <%= button_to 'Delete', notification_path(n.id), method: :delete %>
                <% end %>
                <%= paginate @notifications %>
            <% else %>
                <p>You do not have any notifications</p>
            <% end %>
        </div>
    </section>
<% end %>