<%= turbo_frame_tag 'app' do %>
    <%= render 'shared/flash' %>
    <section>
        <div class="site-container">
            <h1>Notifications</h1>
            <% if @collab_requests.present? %>
                <% @collab_requests.each do |r| %>
                    <%= render "collab_requests/preview", request: r  %>
                    <%= button_to 'Delete', collab_requests_destroy_path(r.id), method: :delete %>
                <% end %>
                <%= paginate @notifications %>
            <% end %>
            <% if @notifications.present? %>
                <% @notifications.each do |n| %>
                    <% unless n.read %>
                        <%= button_to 'Mark as read', read_notification_path(n.id), method: :post %>
                    <% end %>
                    <%= render "preview", notification: n  %>
                    <%= button_to 'Delete', notification_path(n.id), method: :delete %>
                <% end %>
                <%= paginate @notifications %>
            <% else %>
                <p>You do not have any notifications</p>
            <% end %>
        </div>
    </section>
<% end %>