<% if users.present? %>
    <div class="users card-container">
        <% users.each do |u| %>
            <% playlists = u.playlists %>
            <div class="user box card">
                <% if u.username %>
                    <a class="user-username" href="/users/<%= u.id %>"><%= u.username %></a>
                <% end %>
                <% if playlists.length > 0 %>
                    <p class="user-playlists">Playlists: <%= playlists.length %></p>
                    <% pop_playlist = playlists.popular %>
                    <p class="user-popular-playlist.first">Popular playlist: <%= link_to pop_playlist.first.title, playlist_path(pop_playlist.first.id) %></p>
                <% end %>
            </div>
        <% end %>
    </div>
    <%= paginate users %>
<% end %>