<%= turbo_frame_tag "app" do %>
<section class="user-profile">
    <div class="site-container">
        <div class="user-profile-header">
            <% if @user.username %>
                <h1 class="user-username"><%= @user.username %></h1>
            <% end %>
            <% days = ((Time.now - @user.created_at) / 24 / 60 / 60).ceil %>
            <p class="user-age">User for <%= days %> <%= days > 1 ? 'days' : 'day' %></p>
            <% if current_user && current_user.id === @user.id %>
                <div class="user-actions">
                    <%= link_to "Edit", edit_user_registration_path(@user), data: {turbo_action: 'advance'} %> |
                    <%= button_to "Cancel my account", registration_path(:user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
                </div>
            <% end %>
        </div>
    </div>
</section>
<section class="user-playlists bg-gray">
    <div class="site-container">
        <h2 class="user-playlists-headline"><%= @user.username %>'s Playlists</h2>
        <% if @playlists.present? %>
            <div class="card-container">
                <% @playlists.each do |playlist| %>
                    <%= render playlist %>
                <% end %>
            </div>
        <% else %>
            No playlists
        <% end %>
    </div>
</section>
<% if @editor_playlists.present? %>
    <section class="user-playlists">
        <div class="site-container">
            <h2 class="user-playlists-headline"><%= @user.username %>'s Collabs</h2>
            <div class="card-container">
                <% @editor_playlists.each do |playlist| %>
                    <%= render playlist %>
                <% end %>
            </div>
        </div>
    </section>
<% end %>
<% end %>