<% user = User.find(playlist.user_id) %>

<%= link_to playlist_path(playlist), class: "playlist card" do %>
    <% if playlist.image.attached? %>
        <%= image_tag playlist.image, size: "100x100", alt: "#{playlist.title} image", class: "playlist-image"  %>
    <% end %>
    <h2 class="playlist-title"><%= playlist.title %></h2>
    <p class="playlist-user">By <%= user.username ? user.username : user.email %></p>
    <% if playlist.tracks.present? %>
        <% for i in 0..2 do %>
            <% if playlist.tracks[i] %>
                <% track = playlist.tracks[i] %>
                <div class="track">
                    <p class="track-title"><%= track.title %></p>
                </div>
            <% end %>
        <% end %>
    <% else %>
    No tracks :(
    <% end %>
<% end %>