<% user = User.find(playlist.user_id) %>

<%= link_to playlist_path(playlist), class: "playlist card" do %>
    <% if playlist.image.attached? %>
        <%= image_tag playlist.image, size: "100x100", alt: "#{playlist.title} image", class: "card-image"  %>
    <% end %>
    <div class="copy-area">
        <h2 class="card-title"><%= playlist.title %></h2>
        <p class="card-user">By <%= user.username ? user.username : user.email %></p>
        <%= render 'playlists/playlist-likes', playlist: playlist %>
        <% if playlist.tracks.present? %>
            <% for i in 0..2 do %>
                <% if playlist.tracks[i] %>
                    <% track = playlist.tracks[i] %>
                    <div class="track">
                        <p class="track-title"><%= track.title %></p>
                    </div>
                <% end %>
            <% end %>
        <% else %>
        No tracks :(
        <% end %>
    </div>
<% end %>