<%= link_to playlist_path(playlist), class: "playlist card" do %>
    <% if playlist.image.attached? %>
        <%= image_tag playlist.image, size: "130x130", alt: "#{playlist.title} image", class: "card-image"  %>
    <% end %>
    <div class="copy-area">
        <h2 class="card-title"><%= playlist.title %></h2>
        <p class="card-user">By <%= user.username ? user.username : user.email %></p>
        <%= render 'playlists/playlist-likes', playlist: playlist %>
    </div>
<% end %>