<%= turbo_frame_tag "app" do %>
<%= render 'shared/flash' %>
<section>
  <div class="site-container">
    <% if @search || @track || @tag %>
      <h1>Search for: <%= @tag ? 'tag: ' : ''%><%= @track ? 'track: ' : '' %><%= @title.inspect %></h1>
    <% else %>
      <h1>Playlists</h1>
    <% end %>

    <%= render 'shared/search', path: playlists_path %>

    <% if @playlists.present? %>
      <div id="playlists" class="card-container">
        <% @playlists.each do |playlist| %>
          <%= render playlist %>
        <% end %>
      </div>
      <%= paginate @playlists %>
    <% else %>
      <p>Sorry, we couldn't find anything</p>
    <% end %>

  </div>
</section>
<% end %>