<%= turbo_frame_tag "app" do %>
<%= render 'shared/flash' %>
<section>
    <div class="site-container">
        <h1>
            <% if @search %>
                Search: users: <%= @search %>
            <% else %>
                Users
            <% end %>
        </h1>
        <%= form_with url: search_users_path, method: :get do |form| %>
            <%= form.text_field :search %>
            <%= form.submit "Search" %>
        <% end %>
        <% if @users.present? %>
            <div class="card-container">
                <% @users.each do |user| %>
                    <%= button_to "Add #{ user.username }", add_editor_path, params: {user: user.id}, method: :put, class: 'btn-add-user box card' %>
                <% end %>
            </div>
        <% else %>
            <p>No users found.</p>
        <% end %>
    </div>
</section>
<% end %>