<%= turbo_frame_tag "app" do %>
<%= link_to "Back to playlists", playlists_path %>
<section class="playlist">
  <div class="site-container">
    <% if @playlist.image.attached? %>
      <%= image_tag @playlist.image, size: "100x100", alt: "#{@playlist.title} image", class: "playlist-image"  %>
    <% end %>
    <div class="copy-area">
      <h1 class="playlist-title"><%= @playlist.title %></h1>
      <%= render 'likes/like_button', playlist: @playlist %>
      <% if @is_user %>
        <p class="playlist_user">By you</p>
        <div class="playlist-actions">
            <%= link_to "Add editor", search_users_path, data: {turbo_action: 'advance'} %>
            <%= link_to "Edit", edit_playlist_path(@playlist), data: {turbo_action: 'advance'} %>
            <%= button_to "Delete", @playlist, method: :delete %>
        </div>
      <% else %>
        <p class="playlist-user">By <%= @user.username ? @user.username : @user.email %></p>
      <% end %>
      # Editors
      <% if @playlist.editors.present? %>
        <div class="playlist-editors">
            <% @playlist.editors.each do |editor| %>
                <%= link_to editor.username, user_account_path(editor), data: {turbo_action: 'advance'} %>
            <% end %>
        </div>
      <% end %>
      # Tags
      <% if @playlist.tags %>
        <div class="playlist-tags">
            <% @playlist.tags.each do |tag| %>
                <%= render "tags/tag", tag: tag, is_user: @is_user %>
            <% end %>
        </div>
      <% end %>
    </div>
    # Tracks
    <% if @tracks %>
        <% index = 0 %>
        <%= link_to "Play Playlist", '#', id: 'playPlaylist', data: {turbo_frame: 'mediaplayer'} %>
        <%= link_to "Add to queue", '#', id: 'cuePlaylist', data: {'playlist' => @track_ids.join(','), turbo_frame: 'mediaplayer'}  %>

        <div id="<%= @is_user || @is_editor ? 'sortable-' : '' %>tracklist" class="playlist-tracks">
            <% for track in @tracks %>
                <%= render "tracks/track", track: track, index: index, user: @user %>
                <% index += 1 %>
            <% end %>
        </div>
    <% end %>

    <% if @is_user || @is_editor %>
        <%= link_to "Add track", add_track_path(@playlist), data: {turbo_action: 'advance'} %>
    <% end %>
  </div>
</section>
<% end%>
