<%= link_to "Back to playlists", playlists_path %>

<div class="playlist">
  <div class="site-container">
    <% if @image %>
      <img src="<%= @image %>" alt="image for playlist <%= @title %>" />
    <% end %>
    <div class="copy-area">
      <h1 class="playlist-title"><%= @title %></h1>
      <% if current_user.id == @user_id %>
      <p class="playlist_user">By you</p>
      <div class="playlist-actions">
      <%= link_to "Edit this playlist", edit_playlist_path(@playlist) %> |
      
      <%= button_to "Destroy this playlist", @playlist, method: :delete %>
      </div>
      <% else %>
        <p class="playlist-user">By <%= @user %></p>
      <% end %>
    </div>
    # Tracks
    <% if @tracks %>
      <% index = 1 %>
      <div class="playlist-tracks">
        <% for track in @tracks do %>
          <div class="track">
            <a href="<%= track %>">Track <%= index %></a>
          </div>
          <% index += 1 %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
