<!DOCTYPE html>
<html>
  <head>
    <title>Greatdj3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="site-nav">
      <div class="site-container">
        <%= link_to "home", root_path %>
        <%= link_to "about", '#' %>
        <%= link_to "playlists", playlists_path %>
        <% if current_user %>
          <%= link_to 'create', new_playlist_path %>
          <%= link_to 'account', '#' %>
        <% else %>
          <%= link_to 'login' %>
          <%= link_to 'register' %>
        <% end %>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
